*{
    display: grid;
    place-items: center;
    margin: 2px;
}

body {
    background-image: url(coffeechat.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.aboutMe{
    background-color: rgba(100, 62, 39, 0.7);
    color: white;
    letter-spacing: 2px;
    line-height: 1.6;
    width: 400px;
    height: 500px;
    text-align: center;
    font-family: 'Sansation';
    padding: 30px;
    font-size: 20px;

}

.info{
    margin-top: 30px;
    background-color: rgba(125, 98, 81, 0.7);
    color: white;
    letter-spacing: 2px;
    line-height: 1.6;
    width: 400px;
    height: 90px;
    text-align: center;
    font-family: 'Sansation';
    padding: 30px;
    font-size: 17px;

}

.container {
  display: flex;
  align-items: center; /* Centers the image vertically relative to the text */
  gap: 70px;           /* Adds space between the image and the text */
}

/* The circular image styling */
.profimg {
  width: 400px;        /* Must match height for a perfect circle */
  height: 400px;       /* Must match width for a perfect circle */
  border-radius: 50%;  /* Makes the image circular */
  object-fit: cover;   /* Prevents distortion if the original image isn't a square */
}



