*{
    display: grid;
    place-items: center;
    margin: 2px;
}

body {
    background-image: url(work.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fifaCup{
    width: 640px;
    background-color: rgba(100, 62, 39, 0.7);
    color: white;
    letter-spacing: 2px;
    line-height: 1.6;
    width: 640px;
    text-align: center;
    font-family: 'Sansation';
    padding: 30px;
    margin-bottom: 30px;
    font-size: 14px;
    
}

.desc{
    background-color: rgba(100, 62, 39, 0.7);
    color: white;
    letter-spacing: 2px;
    line-height: 1.6;
    width: 640px;
    height: 200px;
    text-align: center;
    font-family: 'Sansation';
    padding: 30px;
    margin-bottom: 30px;
    font-size: 14px;
}

